.home-text {
  width: 70%;
  height: 70vh;
  flex-direction: column; 
  justify-content: space-around;
}

.home-title {
  width: 100%;
  height: 300px;
  text-align: left;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;    
  align-items: flex-start;
}

.home-title h2 {
  font-weight: 100;
  font-size: 30px;
  font-style: normal;  
  letter-spacing: 10px;  
}

.home-paragraph {  
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.home-paragraph p {  
  font-size: 24px;
  line-height: 30px;
}

.quote {
  font-style: italic;
}

@media (max-width: 724px) {  

  .home-text { 
    width: 90%;
    height: 70vh;
    flex-direction: column;
  }

  .home-title {    
    width: 100%;
    height: 10%;
  }

  .home-title h2 { 
    font-size: 24px;
    font-style: normal; 
    font-weight: 100;    
    line-height: 18px;
    letter-spacing: 3px;
  }

  .home-paragraph { 
    width: 100%;
    height: 60%;
  }

  .home-paragraph p {
    font-size: 18px;
    line-height: 20px;
  }
}