*{
    background-color: rgba (0,0,0,0);
}

.info_leyer {  
  background-color: black;
  height: 90px;
}

footer {
  background-color: rgba(0, 0, 0);
  height: 90px;
  z-index: 998;
}

#cam-nav {
  width: 80%;
  left: 80px;
  justify-content: space-between;
  align-items: center;
  bottom: 66px;
}

.button-controls button {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  width:70px;
  height: 20px;
  margin-right: 10px;;
  border-radius: 12px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;
}